@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

#site{
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;    
    width: 100vw;
    height: 100vh;
    padding-bottom: 4vh;
}

body{
   // background-color: #450400;
    background-color: white;
///    background-image: url('assets/wall.jpg');
    color: #444;
    font-size: 1.26em;
    padding: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

#panel{
    display: block;
    margin: auto;
    padding: 3px;
    padding-bottom: 0;
    height: auto;
    width: 75vw;
    background-color: white;
    box-shadow: 0px 0px 18px 3px #999; /*was  #261c1c*/
    border: 1px solid #eee; 
    border-radius: 4px;
}

#ham{
    display: none;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 44vh;
    width: auto;
}

#mobile-logo{
    display: none;
}

#navbutton{
    padding: 2px;
    width: 85%;
    margin: auto;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: relative;
}
	
#navbutton a{
    display: flex;
    flex-wrap: nowrap;
    color: #444;
    font-size: 1.25em;
    text-decoration: none;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    animation-name: reverse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    width:100%;
    justify-content: center;
}

@keyframes button{
    from {}
    to {box-shadow: 0 2px 4px 1px #bbb;
        color: #222;}
}

@keyframes reverse{
    from {box-shadow: 0 3px 3px 1px #bbb;
        color: #222;}
    to {}
}

#navbutton a:hover{
    animation-fill-mode: forwards;
    animation-name: button;
    animation-duration: 0.3s;
}
    
.button {
    border-right: 1px solid #ddd;
}

.contents{
    display: grid;
    grid-template-columns: 65vw;
    justify-content: center;
    max-width: 65vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.menu-sect{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    height: auto;
}

.botan{
    font-size: 0.9em;
    padding-bottom: 2em;
}

.botan::first-line{
    font-weight: 1.1em;
    font-weight: bold;
}

#order{
  display: grid;
  justify-content: center;
}

.menuitem{
    font-weight: bold;
    width: 40vw;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    border-radius: 5px;
    padding: 1em;
    animation-name: reverse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

.menuitem:hover{
    animation-fill-mode: forwards;
    animation-name: button;
    animation-duration: 0.3s;
}

#order-win{
    box-shadow: 0px 0px 18px 3px #ccc;
    position: fixed;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    height: 80vh;
    z-index: 5;
    display: none;
    opacity: 0;
    transition: 5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

#close{
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}

img{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fade{
    from {opacity: 0;}
    to {opacity: 100%;}
}

.dot{
    cursor: pointer;
    margin-bottom: 0;
    background-color: #ccc;
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: 0.5s;
    padding: 0.4em;
}

.dot:hover, .active{
    background-color: #444;
}

#dotsel{
    
}

a{
    text-decoration: none;
    color: #444;
}


#menu-sect1{
    grid-column: 1;
    grid-row: 1 / 4;
}

#menu-sect2{
    grid-column: 2;
    grid-row: 1 / 4;
}

#menu-sect3{
    grid-column: 3;
    grid-row: 1 / 4;
}

.heading{
    width: 45%;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0.4em;
    border-bottom: solid #444 2px;
    margin-bottom: 0.4em;
}
 
label{
    font-size: 1.1em;
    position: absolute;
}

input{
    position: absolute;
    font-weight: bold;
    width: 28vw;
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid grey;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
}

input:focus{
    border-bottom: 2px solid black;
    width: 30vw;
}

input[type=radio]{
    padding: 0.5em;
    width: 1em;
}

input[type=submit]{
    background-color: white;
    border: none;
    animation-name: reverse;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

input[type=submit]:hover{
    background-color: white;
    border: none;
    animation-fill-mode: forwards;
    animation-name: button;
    animation-duration: 0.3s;
    cursor: pointer;
}

.chos{
    font-size: 1em;
    padding: 0;
    transition: 0.5s;
    box-sizing: border-box;
}

#window{
    width: 65vw;
    height: 65vh;
    position: fixed;
    display: none;
    z-index: 5;
    background-color: white;
    border-radius: 6px;
}

#fade{
    top: 0;
    position: absolute;
    background-color: black;
    opacity: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    transition; 1s;
}

#foot{
    font-size: 0.6em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.5vh;
}


@media (max-width: 800px){


body{
    padding: 0;
    margin: 0;
}

#site{
    padding: 0;
}

#panel{
    top: 0;
    left: 0;
    padding: 3px;
    height: auto;
    width: 100vw;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 0 0;
    border-radius: 0;
}

#navbutton{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-content: start;
    position: static;
    margin: 0;
    height: 120vh;
    background-color: white;
    top: 0;
    border: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    align-items: right;
    width: 0;
    transition: 0.3s;
    padding-top: 1vh;
    padding: 0;
    opacity: 0;
}

#navbutton a{
    padding: 16px 16px 16px 32px;
    animation-name: 0;
    z-index: 3;
}

#ham{
    position: relative;
    float: right;
    height: 1.5em;
    width: 1.5em;
    display: block;
    z-index: 3;
    margin: 0;
    padding: 0;
}

#top{
    width: 100%;
    height: 2em;
    background-color: white;
    opacity: 80%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 1px #eee;
    padding: 0;
    transition: 0.3s;
}

.contents{
    padding: 0;
    margin-top: 0;
    width: 85vw;
}

#mobile-logo{
    display: block;
    margin-top: 14%;
    width: 80%;
    height: auto;
}

.menuitem{
    width: 85vw;
}

#logo{
    display: none;
}

.heading{
    width: width;
}

p{
   max-width: inherit;
}
}

